
{% load widget_tweaks %}
<form action="" method="post">{% csrf_token %}

<div class="modal-header">
    <h5 class="modal-title">Nuevo Participante</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
 <div class="col-md-12">
      <label for="{{ form.Nombre.id_for_label }}">{{ form.Nombre.label }}</label>
            {% render_field form.Nombre class="form-control form-control-sm" placeholder=form.Nombre.label %}
        
        <label for="{{ form.NumParticipante.id_for_label }}">{{ form.NumParticipante.label }}</label>
            {% render_field form.NumParticipante class="form-control form-control-sm" placeholder=form.NumParticipante.label %}
      
        <label for="{{ form.FechaNacimiento.id_for_label }}">{{ form.FechaNacimiento.label }}</label>
            {% render_field form.FechaNacimiento type="date" class="form-control form-control-sm" placeholder=form.FechaNacimiento.label %}
        
        <label for="{{ form.Edad.id_for_label }}">{{ form.Edad.label }}</label>
            {% render_field form.Edad class="form-control form-control-sm" placeholder=form.Edad.label %}

            <label for="{{ form.generoModel.id_for_label }}">{{ form.generoModel.label }}</label>
            {% render_field form.generoModel class="form-control form-control-sm" placeholder=form.generoModel.label %}

        <label for="{{ form.Peso.id_for_label }}">{{ form.Peso.label }}</label>
            {% render_field form.Peso class="form-control form-control-sm" placeholder=form.Peso.label %}
            
            {% render_field form.dojoModel.as_hidden %}                  
  </div>
{% comment %}     {% for field in form %}
      <div class="form-group{% if field.errors %} invalid{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {%  field class="form-control" placeholder=field.label %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div> {% endcomment %}
 </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>

