{% extends 'Core/base.html' %}


{% block content %}
<br>
<br>


<center><p><h1>Reglas de conducta</h1></p></center>
  
      <center><img src="static/core/img/pagina_principal.png">></center>
 

      <center><p>
        <h3>Propósito y Objetivo </h3><br>

       <center><p> 1. El propósito al establecer estas reglas y disposiciones para responsables es el de<br>
            promover pautas estandarizadas que aseguren toma de decisión equitativa y uniformes.<br>
            2. El presente documento debe ser usado conjuntamente con el Reglamento de Torneos.<br>
            
            <h3>Guía de Utilización</h3><br>
            Todos los torneos patrocinados por la Asociación Japonesa de Karate deben seguir estas<br>
            reglas y disposiciones.<br><br>
            
            <h3>Reglas de Conductas para Responsables</h3><br>
            1. Todos los responsables de juzgar deben ser neutrales y equitativos.<br>
            2. Todos los responsables de juzgar deberían tomar sus decisiones desinteresadamente y<br>
            fundarlas en los documentos de Reglas y Disposiciones para los Torneos.<br>
            3. Todos los responsables de juzgar deben comportarse en forma digna y profesional.<br>
            4. Todos los responsables de juzgar emiten sus decisiones en forma inmediata y precisa.<br>
            5. Durante un encuentro o evento, un responsable de juzgar no habla a ninguna persona<br>
            excepto a aquellas involucradas en dicho evento.<br><br>
            
            
            <h3>Propósito y objetivos</h3><br>
            El propósito de establecer estas reglas y disposiciones es el de promover un procedimiento<br>
            justo y armonioso en el desarrollo de los acontecimientos en cualquier torneo dado.<br><br>
            
             <h3>A quienes aplican</h3><br>
            1. Las mismas se referirán a los siguientes eventos J.K.A.:<br>
            a) Campeonatos Mundiales y el Campeonato All Japan organizados por la Central de JKA<br>
            de Tokio.
            b) Torneos y Campeonatos Regionales organizados por la Central Regional JKA.<br>
            c) Troneos y Campeonatos Distritales organizados por la Central JKA del Distrito.<br>
            d) Torneos Locales de JKA.<br>
            2. Todos los torneos deberán regirse por el presente documento.<br>
            3. Reglas de conducta de todos los participantes.<br>
            Todos los participantes actuarán de acuerdo a los más elevados niveles de habilidad y de<br>
            juego limpio en el espíritu del Karate Do y se esforzarán por demostrar máximo respeto y<br>
            dignidad hacia los demás participantes.<br><br>
            
            <h3>Información Adicional.</h3><br>
            Si surgiere alguna situación no definida en el presente documento, la decisión estará a<br>
            cargo del Jefe de Jueces. <br>

        </p></center>
      
</html>

{% endblock %}  