{% extends 'Core/base.html' %}


{% block content %}
<br>
<br>


<center><p><h1>Mapas de ubicación para juzgar kata y kumite</h1></p></center>
  
     
 

      <center><p>
        <h3>Ubicación de los Responsables </h3><br>


Referirse a los diagramas infra para la ubicación del Juez Principal y los Jueces como parte<br>
del Sistema de Banderas Blanca y Roja tal como se ve en lado izquierdo y al Sistema de puntos<br> 
como se ve en el lado derecho.<br>
Para el juez Principal y los Jueces, seguir las flechas a fin de ver donde se ubican después<br>
del saludo inicial y después del encuentro o evento cuando regresan a sus posiciones iniciales<br>
para el saludo final.<br>
El Arbitro se sienta mirando hacia el frente o Shomen observando el encuentro o evento.<br><br>



 <h3>Área de competición.</h3><br><br>

El área de competición es un cuadrado de 8X8 metros, con un margen exterior de 4- 5 centímetros<br> 
de ancho. La parte exterior de esta línea debe medir 8 metros. Si se utilizan colchonetas, el<br> 
límite debe estar marcadopor colchonetas de distinto color.<br><br>

<h3>Kumite</h3><br>
Para el combate de kumite la posición de inicio de los competidores se ubicará en el centro.<br> 
Indicado por dos líneas paralelas de 1 metro cada una y separadas 3 metros entre ellas. En general,<br> 
cuando se mira al frente (shomen) la línea izquierda es blanca y la derecha es roja.<br><br>


<center><img src="static/core/img/JuzgarKumite.png">></center><br><br>


<h3>Kata</h3><br>

Para el sistema de banderas en combate de kata las posiciones de inicio  se sitúan a 2 metros de<br> 
la línea de atrás y separadas 3 metros entre ellas. Estas líneas se trazarán en forma de T invertida:<br>
 la línea horizontal medirá 70 cm y la vertical 35 cm. Si se trata de sistema de puntuación la posición<br>
de inicio se sitúa 2 metros hacia atrás desde el centro del área, también trazada en forma de T invertida.<br>


<center><img src="static/core/img/JuzgarKata.png">></center><br><br>


Por razones de seguridad el área de combate no debe estar elevada del suelo más de 1 metro y debe preverse un<br> 
área de seguridad de 2 metros de ancho alrededor (zona de amortiguación). La zona de combate debe ser plana,<br> 
horizontal y lisa. Se puede utilizar madera, resina, tatami, planchas de uretano. La posición del juez central<br> 
se indicará con una línea de 50 cm. a una distancia de 1,5 m hacia atrás desde el centro.<br>


</p></center>

{% endblock %}  