{% extends 'Core/base.html' %}

{% block content %}
{{query2.NombreDojo}}
<br>
              <div class="card">   
                <div class="card-body">
                  <button id="create-participante" class="btn btn-primary" type="button" name="button">Registrar Participante</button>
                  <hr>
                  
                  <div class="table-responsive"></div>
                    <table id="table_id" class="table table-striped table-sm table-bordered"></div>
                      <thead></div>
                        <tr>                                                     
                            <th>Nombre</th>  
                            <th>Sensei</th>  
                            <th>Tel.</th>                  
                        </tr>
                      </thead></div>
                      <tbody></div>
                         {% for form_m in object_list %}
                          <tr>                                                                                  
                              <td>{{form_m.NombreDojo}}</td>
                              <td>{{form_m.NombreSensei}}</td>
                              <td>{{form_m.Tel}}</td>
                             <td>
                               <button type="button" style="padding: 0rem 0.2rem" class="update-dojo bs-modal btn btn-primary" data-form-url="{% url 'dojo:update' form_m.pk %}">
                                  <span class="fa fa-pencil"></span>
                                  </button>
                                  <button type="button" style="padding: 0rem 0.2rem" class="delete-book bs-modal btn btn-danger" data-form-url="{% url 'dojo:update' form_m.pk %}">
                                  <span class="fa fa-trash"></span></button>
                                </td>                                     
                            </tr>
                          {% endfor %}
                      </tbody></div>
                    </table>
                  </div>
                </div>
              </div>
          
          
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    $('#table_id').DataTable({"columnDefs": [
        {"className": "dt-center", "targets": "_all"}
      ]});
    });

$(document).ready(function() {
    $("#create-participante").modalForm({
        formURL: "{% url 'participante:create' %}"
    });
      $(".update-dojo").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
});
</script>
{% endblock %}